img{
    display:block;
    margin: auto;
    text-align: center;
    padding: 20px;
    
}

body{
    text-align: center;
    font-size: 32px;
    font-weight: bold;

}

form{
    border: 2px solid black;
    margin:auto;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    padding-bottom: 2px;
    padding-top: 2px;
}

input[type=text] {
    background-color: #3CBC8D;
    color: white;
    width:auto;
}

.error{
    color:red;
}

select:focus{
    background-color: lightblue;
    border:1px solid black;
}
